@{
    ViewBag.Title = "About";
}
<!---<h2>@ViewBag.Title.</h2>
//<h3>@ViewBag.Message</h3>-->


<div class="container">
<div class="jumbotron">
<h1>The Start of Restaurant Restock Pro</h1>
<h3>About the Site</h3>

<p>Restaurant Restock Pro was created as a final project; also known as the "Red Badge project" at Eleven Fifty Academy in Indianapolis Indiana.  Its a full stack web application using N-tier architecture MVC design.  The web application was written in a mix of C#, HTML, CSS, and Bootstrap.</p>

<p>
    I came up with the project by thinking of needs from past work experience.  I've worked in many kitchens, from the dish tank, to food prep, and head cook.  Every kitchen I worked in when it came to handling our stock, it was always done with pen and paper.  It worked (obviously) but was never very efficient.  My goal with this project was to create a web application that could take some of the issues I had with using pen and paper and make it more of an fluid process.
</p>
<p>    Restaurant Restock Pro is a work in progress, feel free to stop by time to time and see whats changed.</p>
</div>
</div>