@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<br />
<br />
<div class="container">
<div class="jumbotron">
    <h2>Contact Me</h2>
    <br />
    <p>Thank you for coming and taking a look at my web application.  Updates should continue to roll out; feel free to look at my GitHub page for other projects I've done in the past, or projects that I'm working on presently</p>
<br />
<br />
<address>
    <strong>GitHub:</strong>   <a href="https://github.com/amckasson">Creators GitHub</a><br />
    <br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/andrew-mckasson-490272217/">Creators LinkedIn</a>
</address>
</div>
</div>