@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Restock Pro</h1>
    <p class="lead">Restaurant Restock Pro is a web application that was created to allow Restaurant owners, managers, and employees to easily keep track of items that need to be ordered.</p>
</div>


<div class="row">
    <div class="col-md-6 col-md-6">
        <div class="thumbnail">
            <img src="~/img/restaurant.jpg" alt="Img">
            <div class="caption">
                <h3>Restaurants</h3>
                <p>Create your restaurant that will need to take advantage of our Restaurant Restock tool.  You can update and Delete any time you need.</p>
                <p><a href="https://localhost:44374/Restaurant" class="btn btn-primary" role="button">Click Me!</a>
            </div>
        </div>
    </div>



    <div class="col-md-6 col-md-6">
        <div class="thumbnail">
            <img src="~/img/stockorder.jpg" alt="...">
            <div class="caption">
                <h3>Stock Order</h3>
                <p>Create a stock order.  It will track who created the stock order and the date.  This can be updated or deleted at any time needed..</p>
                <p><a href="https://localhost:44374/StockOrder" class="btn btn-primary" role="button">Click Me!</a>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img src="~/img/stockitem.jpg" alt="...">
            <div class="caption">
                <h3>Stock Item</h3>
                <p>Click here to start creating stock items that can be added to the Stock Order..</p>
                <p><a href="https://localhost:44374/StockItem" class="btn btn-primary" role="button">Click Me!</a>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img src="~/img/restocktwo.jpg" alt="...">
            <div class="caption">
                <h3>Restock</h3>
                <p>Stock Item: Quickly and easily add a restaurat. .</p>
                <p><a href="https://localhost:44374/Restock" class="btn btn-primary" role="button">Click Me!</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About</h2>
        <p>
            Learn more about us.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44374/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Contact us</h2>
        <p>Feel free to reach out.</p>
        <p><a class="btn btn-primary" href="https://localhost:44374/Home/Contact">Learn more &raquo;</a></p>
    </div>

</div>
