@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Restock Pro</h1>
    <p class="lead">Restaurant Restock Pro is a web application that was created to allow Restaurant owners, managers, and employees to easily keep track of items that need to be ordered.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Restaurants</h2>
        <p>
            Create your restaurant that will need to take advantage of our Restaurant Restock tool.  You can update and Delete any time you need.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stock Orders</h2>
        <p>Create a stock order.  It will track who created the stock order and the date.  This can be updated or deleted at any time needed.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Food Items</h2>
        <p>Click here to start creating food items that can be added to the Stock Order.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>